/* 搜尋結果外框 */
.containerForCourses {
  display: flex;
  align-items: flex-start;
}

/* 搜尋結果 */
.result{
  flex: 6;
}

/* 側邊欄 */
.besider{
  flex: 1;
}
@media(max-width: 540px) {
  .besider {
    display: none;
  }
}

/* 熱門排行榜選項 */
.hot {
  margin: 0 1rem 0.8rem 1rem;
  border-radius: 0.2rem;
}
#hot1 {
  background-color: #222;
}
#hot2 {
  background-color: #444;
}
#hot3 {
  background-color: #666;
}
#hot4 {
  background-color: #888;
}
#hot5 {
  background-color: #aaa;
}

/* 排行榜連結 */
.besider a {
  font-size: 0.9rem;
  line-height: 2;
  color: #ffffff;
  text-decoration: none;
}
.besider a:hover {
  text-decoration: underline;
}

/* 外層容器樣式 */
.classification-selector {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  gap: 10px;
  font-size: 0.8rem;
}

/* Label 樣式 */
.classification-selector label {
  font-weight: bold;
  color: #333;
}

/* 下拉選單樣式 */
.classification-selector select {
  padding: 0.25rem 0.35rem;
  font-size: 0.85rem;
  color: #333;
  border: none;
  border-radius: 0.3rem;
  background: #ddd;
  cursor: pointer;
  outline: none;
}
/* 下拉選單懸停樣式 */
.classification-selector select:hover {
  background: #e9e9e9;
}

/* 下拉選單選中項目的樣式 */
.classification-selector select option {
  font-size: 0.8rem;
  background: #fff;
}

/* 課程列表容器 */
.course-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
}
  
/* 單個課程卡片 */
.course-card {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ffffff00;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  width: 30%;
  min-width: 300px;
  transition: border 0.3s;
}
.course-card:hover {
  border: 1px solid #ccc;
}
  
/* 課程圖示 */
.courseImage {
  width: auto;
  height: 4.7rem;
  margin: auto;
  margin-right: 10px;
  padding: 0;
  border-radius: 10px;
}
  
/* 課程內容 */
.course-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
  
/* 課程標題容器 */
.course-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.2rem;
}
  
/* 課程名稱 */
.course-name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}
  
/* 儲存星號 */
.save-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  width: 1rem;
  height: 1rem;
  color: var(--mark-on-color);
  cursor: pointer;
  transition: color 0.3s;
  margin: 0px;
}
.save-button:hover {
  color: #777;
}
  
/* 課程細節 */
.course-details {
  font-size: 0.85rem;
  color: #555;
  width: 100%;
  text-align: left;
}
  
.course-belongs {
  font-size: 0.85rem;
  color: #555;
  width: 100%;
  text-align: left;
}

/* 課程彈出視窗 */
.showContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 32%;
  min-width: 300px;
  max-height: 80%;
  overflow-y: auto; /* 當內容超出視窗時滾動 */
  scrollbar-gutter: stable; /* 讓滾動條不干擾內容布局 */
}

.content-header h4 {
  flex: 1; /* 自動調整寬度以適應剩餘空間 */
  margin: 0;
  font-size: 1.2rem;
  text-align: left;
  padding-right: 2.5rem;
}

.showContent::-webkit-scrollbar {
  width: 10px;
}

.showContent::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* 背景模糊效果 */
body.modal-open .main,body.modal-open header,body.modal-open footer {
  filter: blur(2px);
  pointer-events: none; /* 禁止與背景的互動 */
}

body.modal-open .overlay {
  pointer-events: auto; /* 遮罩仍可互動 */
}

/* 遮罩背景 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100; /* 遮罩層 */
}

.showContent button:hover {
  background-color: var(--button-hover-color);
}

.showContent p{
  font-size: 0.85rem;
  text-align: left;
  margin: 10px 0;
  line-height: 1.6;
}

body.modal-open {
  overflow: hidden; /* 禁止滾動背景內容 */
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.showContent .tabs button {
  padding: 0px;
  padding-bottom: 5px;
  height: 40px;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  background-color: #fff;
  cursor: pointer;
}

.tabs button svg {
  width: 1.25rem; 
  height: 1.25rem; 
}

.tabs button.active {
  border-bottom: 3px solid black;
  
}

.MuiSvgIcon-root {
  font-size: 10px;
  color: rgb(0, 0, 0);
}

/* 關閉彈出視窗 */
.close-showContent {
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  right: 0;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ccc; 
  border: none;
  cursor: pointer;
}

.close-showContent svg {
  height: 1rem;
  width: 1rem;
  fill: #000;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

/* 評論 */
.reviews {
  margin-top: 10px;
}

.review {
  border-radius: 8px; 
  padding: 10px;
  margin-bottom: 10px; 
  background-color: #f9f9f9;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px; 
}

.review-header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.review-creator {
  font-size: 1rem;
  display: flex; 
  align-items: center;
  gap: 0.2rem;
}

.review-date {
  font-size: 0.8rem;
  color: #888;
  font-weight: 300;
}


