/* 外層容器樣式 */
.semester-select {
  align-items: center;
  padding-left: 1.5rem;
  gap: 10px;
  font-size: 0.8rem;
}

/* Label 樣式 */
.semester-select label {
  font-weight: bold;
  color: #333;
}

/* 下拉選單樣式 */
.semester-select select {
  padding: 0.25rem 0.35rem;
  font-size: 0.85rem;
  color: #333;
  border: none;
  border-radius: 0.3rem;
  background: #ddd;
  cursor: pointer;
  outline: none;
}
/* 下拉選單懸停樣式 */
.semester-select select:hover {
  background: #e9e9e9;
}

/* 下拉選單選中項目的樣式 */
.semester-select select option {
  font-size: 0.8rem;
  background: #fff;
}

/* 課表 */
.schedule_container {
  width: 70%;
  margin: auto;
  padding: 5px 20px;
  font-size: 0.6rem;
  max-width: 740px;
}
@media(max-width: 540px) {
  .schedule_container {
    width: 90%;
    margin: 5% auto;
    padding: 5px 0;
    line-height: 1.2;
  }
}

.schedule {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(15, minmax(0, 1fr));
  width: 100%;
  aspect-ratio: 9 / 15;
  margin: auto;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

/* 每個格子的樣式 */
.cell {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.first-row {
  background-color: #ccc;
  font-weight: bold;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.courseMustOnSchedule, .courseOnSchedule {
  position: absolute;
  background-color: var(--primary-color);
  opacity: 0.8;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  border-radius: 0.5rem;
}

.courseMustOnSchedule {
  background-color: rgba(0, 0, 0, 0.8);
}

.storageCourses {
  width: 70%;
  margin: 20px auto;
}
@media(max-width: 540px) {
  .storageCourses {
    width: 90%;
    line-height: 1.2;
  }
}

.storageCourses h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.storageCourses table {
  width: 100%;
  border-collapse: collapse; /* 移除表格間隙 */
}

.storageCourses th,
.storageCourses td {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
  border: 1px solid #ddd;
}

.storageCourses th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.storageCourses tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.storageCourses tr:hover {
  background-color: var(--button-hover-color);
}

/* 查看課程 */
.storageCourses_content {
  color: #333;
  font-weight: 600;
  cursor: pointer;
}
.storageCourses_content:hover {
  color: #777;
  text-decoration: underline;
}

/* 控制取消儲存 */
.storageCourses_star {
  color: var(--mark-on-color);
  cursor: pointer;
  font-size: 1.5rem;
}
.storageCourses_star:hover {
  color: #777;
}