.main h2 {
    text-align: center;
    margin-bottom: 20px;
}

.record-list {
    margin: 20px auto;
    width: 90%;
}

.record-term {
    margin-bottom: 40px;
}

.term-title {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}


.record-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.record-info {
    display: flex;
    flex-direction: column;
}

.record-course {
    font-weight: bold;
    font-size: 1rem;
}

.record-status {
    color: #999;
}

.record-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-review {
    background-color: green;
    color: white;
}

.add-review {
    background-color: red;
    color: white;
}
