/* 定義顏色 */
:root {
    --primary-color: #81a67f;
    --secondary-color: #000000;
    --tertiary-color:#2D372D;
    --text-color: #000000;
    --background-color: #ffffff;
    --button-hover-color: #adcdabd0;
    --mark-on-color: #ffcc00;
}

/* 定義文字反白 */
::selection {
    background-color: var(--tertiary-color);
    color: var(--background-color);
}

/* 定義 html 基本屬性 */
html {
    font-size: 16px;
    line-height: 1.6;
    word-spacing: 0.05em;
    letter-spacing: 0.02em;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
@media(min-width: 1440px) {
    html {
        font-size: 22px;
    }
}
@media(min-width: 1920px) {
    html {
        font-size: 28px;
    }
}

/* 定義 body 基本屬性 */
body {
    padding: 0;
    margin: 0;
}

/* 定義 pages 區域基本屬性 */
#returnPlace {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

/* 定義元素屬性 */
h1 {
    font-size: 1.5rem;
}
@media(max-width: 540px) {
    h1 {
        font-size: 1.2rem;
    }
}

h2 {
    font-size: 1.2rem;
}
@media(max-width: 540px) {
    h2 {
        font-size: 1rem;
    }
}
h6 {
    font-size: 0.8rem;
}
@media(max-width: 540px) {
    h6 {
        font-size: 0.6rem;
    }
}

/* 定義 component 屬性 */

/*頁首*/
header {
    width: 100%;
    height: 3.5rem;
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*網頁標題*/
#header-title {
    padding-left: 1.5rem;
}

/*頁首選單*/
#header-menu {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 2.2rem;
    background-color: var(--tertiary-color);
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* 中心對齊 */
}
@media(max-width: 540px) {
    #header-menu {
        width: 1.8rem;
        height: 1.8rem;
    }
}

/* 頁首選單收起樣式 */
.header-menu-line {
    width: 1rem;
    height: 2px;
    background-color: #ffffff; 
    border-radius: 1px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(min-width: 1440px) {
    .header-menu-line {
        height: 4px;
        border-radius: 2px; 
    }
}

#header-menu-line1 {
    top: 35%;
}
#header-menu-line3 {
    top: 65%;
}

/* 頁首選單張開 */
#header-menu-nav {
    position: absolute;
    right: 0;
    background-color: var(--tertiary-color);
    width: 160px;
    border-radius: 5px;
    z-index: 100;
    padding: 30px 0 0 0;
    top: 0;
    border: 1px solid white;
}
@media(min-width: 1440px) {
    #header-menu-nav {
        width: 220px;
        border-radius: 8px;
        padding: 35px 0 0 0;
    }
}
@media(min-width: 1920px) {
    #header-menu-nav {
        width: 260px;
        border-radius: 10px;
        padding: 40px 0 0 0;
    }
}

/* 關閉頁首選單 */
#header-menu-nav-close {
    position: absolute;
    top: 0px;
    right: 12px;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    color: white;
}
@media(min-width: 1440px) {
    #header-menu-nav-close {
        font-size: 35px;
        right: 17px;
    }
}
@media(min-width: 1920px) {
    #header-menu-nav-close {
        font-size: 40px;
        right: 20px;
    }
}

/* 頁首選單列表 */
#header-menu-nav-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

/* 頁首選單選項 */
#header-menu-nav-ul li {
    margin: 0;
    cursor: pointer;
}

/* 頁首選單選項 */
#header-menu-nav-ul li span {
    display: block;
    padding: 10px 0;
    margin: 5px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
@media(max-width: 540px) {
    #header-menu-nav-ul li span {
        font-size: 0.8rem;
        margin: 3px;
    }
}
@media(min-width: 1440px) {
    #header-menu-nav-ul li span {
        margin: 10px;
        padding: 15px 0;
    }
}

/* 頁首選單選項選取 */
#header-menu-nav-ul li span:hover {
    color: var(--text-color);
    background-color: var(--button-hover-color);
}

/* 頁首選單分隔線 */
#header-menu-nav-ul li hr {
    margin: 0 20px;
}

/* 頁尾 */
footer {
    width: 100%; 
    height: 3.5rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 0 ;
    margin: 0;
    display: flex;
    align-items: center;
}

footer p {
    font-size: 0.85rem;
    padding: 0 1.5rem;
}

source{
    background-color: rgba(255, 255, 255, 0);
}

/* 定義通用零件屬性 */

/*內容區域*/
.main{
    width: 100%;
    min-height: calc(100vh - 7rem); 
    margin: 0;
    padding: 0;
    overflow: hidden;
}