/* 頁面主視區 */
#face{
    width: 100%;
    background-color: var(--secondary-color);
    height: 75vh;
    margin: 0 0 5px 0;
    display: flex;
}
@media(max-width: 540px) {
    #face{
        height: 90vw;
    }
}


/* 主視區左側 */
#face-left {
    width: calc(100% - 25vh);
    background-color: var(--secondary-color);
    overflow: hidden;
}
@media(max-width: 540px) {
    #face-left {
        width: 75vw;
        background-color: #000000;
    }
}

/* 主視區左側圖片 */
#face-left img {
    z-index: -1;
    height: 100%;
    left: 0;
}
@media(max-width: 540px) {
    #face-left img {
       display: none;
    }
}

/* 關鍵字尋表單 */
#face-left form {
    position:absolute;
    top: 40vh;
    width: calc(100% - 25vh);
}
@media(max-width: 540px) {
    #face-left form {
        right: 25vw;
        width: 75vw;
        top: 50vw;
    }
}

#face-left form .search-input-container {
    display: flex;
    justify-content:right;
    width: 100%;
}
/* 關鍵字搜尋欄 */
#face-left form .search-input-container input {
    height: 1.8rem;
    width: 20rem;
    max-width: 60%;
    border-radius: 10rem;
    border:0pt;
    font-size:0.8rem;
    padding: 0px 1rem;
    margin: 0 50px;
    outline: none;
}

/* 模糊搜尋 */
#search-mode {
    margin-top: 0.3rem;
    font-size: 0.75rem;
    position:absolute;
    right: 50px;
    width: auto;
    display: flex;
    color: #ffffff;
    background-color: var(--secondary-color);
    align-items: center;
}

/* 模糊搜尋選框 */
#search-mode input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    cursor: pointer;
}

/* 主視區右側 */
#face-right {
    width: 25vh;
    margin: 0px;
    background-color: var(--secondary-color);
}
@media(max-width: 540px) {
    #face-right {
        width: 25vw;
    }
}

/* 主視區右側選單 */
#face-right div {
    height: 25vh;
    width: 25vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
@media(max-width: 540px) {
    #face-right div{
        width: 25vw;
        height: 30vw;
    }
}

/* 主視區右側 */
#face-right div:hover {
    background-color: rgb(65, 65, 65);
}

/* 複合查詢指引 */
#complexSearch{
    margin-top: 40px; 
    text-align: left; 
    width: 70%; 
    margin: auto;
    font-size: 0.85rem;
}

/* 隱藏預設的核取方塊 */
.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"] {
    display: none;
}

/* 自定義核取方塊的容器 */
.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 1.3rem;
    width: auto;
    border-radius: 0.7rem;
    margin-right: 0.3rem;
    background-color: #62993264;
}

/* 核取方塊文字 */
.custom-checkbox div span {
    color: #ffffff;
    text-align: center;
}

/* 自定義核取方塊的視覺元素 */
.custom-checkbox div {
    height: 100%;
    width: 100%;
    border-radius: 0.7rem;
    padding: 0 0.75rem;
    background-color: black;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 當核取方塊被勾選時改變背景顏色 */
.custom-checkbox input[type="checkbox"]:checked + div,
.custom-checkbox input[type="radio"]:checked + div {
    background-color: var(--primary-color);
}

/* 標籤文字樣式 */
.custom-checkbox span {
    font-size: 1rem;
    color: var(--text-color);
}

/* 將標題與選項排成同一行 */
.flex-label-container {
    display: flex;
    align-items: center;
}

/* 標題樣式 */
.flex-label-container .label-title {
    margin-right: 10px;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--text-color);
}

/* 核取方塊群組的排版 */
.flex-label-container .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* 選項之間的間距 */
}

/* 表單分隔線 */
#complexSearch hr {
    border-color: rgb(255, 255, 255);
}

/* 其他input */
#category, .testFactor {
    width: 40%;
    height: 1.85rem;
    border-radius: 1rem;
    padding: 0 0.8rem;
    border: 1px solid #ccc;
}

/* submit-container */
#complexSearch #submit-container {
    display: flex;
    justify-content: center; /* 水平置中 */
    width: 100%; /* 確保可見範圍 */
}

/* submit */
#complexSearch #submit-container button[type="submit"] {
    width: auto;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--tertiary-color);
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

#complexSearch #submit-container button[type="submit"]:hover {
    background-color: var(--button-hover-color);
    color: black;
}


/* 繼承父級表單的字體大小 */
#complexSearch label,
#complexSearch input,
#complexSearch select,
#complexSearch button,
#complexSearch span,
#complexSearch .checkbox-group div span  {
    font-size: inherit; 
}