/* 背景圖片容器 */
.background-container {
    position: fixed;
    top: 3.5rem;
    bottom: 3.5rem;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

/* 背景圖片 */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7rem);
    background-color: rgba(0, 0, 0, 0.35);
}

/* 登入表單的外框 */
.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
}

/* 將輸入框與左側文字對齊的容器 */
.input-group {
    display: flex;
    align-items: center;
    width: 28%;
    min-width: 300px;
    margin: 10px 0;
}

/* 左側的文字標籤 */
.input-label {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    margin-right: 10px;
    min-width: 50px;
    text-align: right;
}

/* 輸入框樣式 */
.login-box input {
    flex: 1;
    width: 100%;
    height: 1.85rem;
    border: 1px solid #cccccc;
    border-radius: 1rem;
    padding: 0 15px; 
    font-size: 1rem;
    background-color: #ffffff;
}

/* 按鈕樣式 */
#start {
    width: 6rem;
    height: 1.85rem;
    margin-top: 0.8rem;
    background-color: var(--primary-color); 
    color: #ffffff;
    border: none;
    border-radius:0.2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
#start:hover {
    background-color: var(--button-hover-color);
}

/* "忘記密碼"文字樣式 */
.login-box a {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

/* 已登入使用者 */
h3 {
    color: #ffffff;
}